body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #e4e5f1;
    <!-- 코하루 릿카 핵스코드 -->
}

h1 {
    font-size: 4em;
    color: black;
    text-align: center;
}

h2 {
    font-size: 3em;
    color: black;
    text-align: center;
}

h3 {
    font-size: 2em;
    color: black;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    color: black;
}

